p
  | &copy; 2020 
  strong NEAR Social
  | . Designed and built with 
  a(href="https://picturepan2.github.io/spectre/?utm_source=near-social" target="_blank")
    strong Spectre.css
  span.text-error  &hearts;
  | . Powered by 
  a(href="https://nearprotocol.com/" target="_blank")
    strong NEAR Protocol
  | .