.navbar
  .navbar-brand
    a(href=domain)
      | NEAR
      span.ml-1 Social
  .navbar-section
    span.mr-2#username
    button#sign-in-button.btn.btn-primary.btn-sm.d-none Sign in with NEAR
    button#sign-out-button.btn.btn-black.btn-sm.d-none Sign out