//- Post Item Template
.nearpost-item
  .post-date
    | Jan 3, 2020
  .post-title
    a(href='#')
      | This is a placeholder for post item templates.
  .post-user
    | Yan
  .post-action

.nearpost-item
  .post-date
    | Jan 3, 2020
  .post-title
    a(href='#')
      | 2020 Space Odyssey Digital Ticket.
  .post-user
    | Yan
  .post-action
    .btn.btn-sm.btn-primary Buy

.nearpost-item
  .post-date
    | Jan 3, 2020
  .post-title
    a(href='#')
      | Monetize valuable digital goods to your audience.
  .post-user
    | Yan
  .post-action

.nearpost-item
  .post-date
    | Jan 2, 2020
  .post-title
    a(href='#')
      | Hello NEAR Protocol!
  .post-user
    | Yan
  .post-action