//- Post Item Template
.nearpost-item
  .post-date
    | Jan 1, 2020
  .post-title
    a(href='#')
      | Hello NEAR Protocol!
  .post-user
    | Yan
  .post-action

.nearpost-item
  .post-date
    | Jan 1, 2020
  .post-title
    a(href='#')
      | This is a placeholder for post item templates.
  .post-user
    | Yan
  .post-action

.nearpost-item.highlight
  .post-date
    | Jan 1, 2020
  .post-title
    a(href='#')
      | Posting on the NEAR blockchain works. But loading off doesn't.
  .post-user
    | Yan
  .post-action
    .btn.btn-sm.btn-primary Buy