extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'NEAR Social'
  - var description = 'NEAR blockchain-powered social network for valuable information and data exchange.'

block content
  header.section-header
    .container.grid-xl
      include _layout/_header.pug
  
  .section-main
    .container.grid-xl
      .columns
        .content-container.column.col-md-12       
          include _content/_content.pug
  
  //-.section-faq
    .container.grid-xl
      .columns
        .column.col-6.col-md-12.col-mx-auto
          include _content/_faq.pug

  footer.section-footer
    .container.grid-xl
      include _layout/_footer.pug