// Variables and mixins
@import "variables";
@import "mixins";

/*! Spectre.css | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import "normalize";
@import "base";

// Elements
@import "typography";
@import "buttons";
@import "forms";
@import "labels";
@import "media";

// Layout
@import "layout";
@import "navbar";

// Components
@import "cards";
@import "dropdowns";
@import "empty";
@import "menus";
@import "modals";
@import "tooltips";

// Utility classes
@import "animations";
@import "utilities";

/*! Near Social | MIT License */
.section-header {
  .navbar-brand {
    a {
      color: $dark-color;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 2.2rem;
      margin-right: .5rem;
      text-transform: uppercase;
    }

    span {
      font-weight: 400;
    }

    .twitter-link {
      font-size: .6rem;
      font-weight: 400;
      margin-right: 2rem;
    }
  }

  .navbar {
    border-bottom: .15rem double $border-color;
    padding: $unit-4 0;

    .btn {
      font-weight: 700;
      text-transform: uppercase;
    }

    .navbar-section {
      @media screen and (max-width: $size-sm) {
        justify-content: flex-start !important;
      }
    }
  }

  .navbar-section {
    padding: .4rem 0;
  }
}

.section-main {
  min-height: 80vh;
  padding: $unit-4 0;

  .intro {
    background: $primary-color;
    color: $light-color;
    padding: 2rem;
  }

  .input {
    display: flex;
    padding: 2rem 0;

    #input-title {
      height: 3.5rem;
    }

    #input-button {
      height: 3.5rem;
      margin-left: 1rem;
      width: 4rem;
    }
  }

  .nearsocial-content {
    padding: 2rem 0;
  }
}

.blockevent-content {
  display: flex;
  flex-direction: column;
  min-height: 50vh;

  .blockevent-title {
    font-size: .6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: .5rem 0;
    text-transform: uppercase;
  }

  .blockevent-item {
    display: none;
  }

  .blockevent-item.upcoming {
    align-items: center;
    background: $bg-color;
    display: flex;
    font-size: .7rem;
    padding: .8rem;
    position: relative;

    &:not(:last-child) {
      margin-bottom: .1rem;
    }

    &:hover {
      background: darken($bg-color, 1%);
    }

    &.highlight {
      background: $secondary-color;

      &:hover {
        background: darken($secondary-color, 1%);
      }

      .event-name {
        a {
          color: $primary-color;
        }
      }
    }

    .event-date {
      color: lighten($dark-color, 20%);
      flex: 1 0 20%;
      padding: 0 .5rem 0 0;
      width: 20%;
    }

    .event-name {
      flex: 1 1 50%;
      font-weight: 700;
      padding: 0 .5rem;
      width: 50%;

      a {
        color: $dark-color;
      }
    }

    .event-location {
      color: lighten($dark-color, 20%);
      flex: 1 0 25%;
      padding: 0 .5rem;
      width: 25%;
    }

    .event-action {
      flex: 1 0 auto;
      text-align: right;
      width: 4rem;

      .btn-sm {
        font-weight: 700;
        text-transform: uppercase;
        width: 4rem;
      }
    }

    @media screen and (max-width: $size-sm) {
      display: block;

      .event-date,
      .event-name,
      .event-location,
      .event-action {
        padding: 0;
        width: 100%;
      }

      .event-name {
        font-size: 1rem;
        margin: .2rem 0;
      }
    }
  }
}
